html {
    font-family: 'Proxima Nova Light', Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    margin: 0 auto;
    min-width: 1000px;
    color: var(--color-primary);

    --color-primary: #ffffff;
    --color-items: #8f9495;
}

html { box-sizing: border-box; } 

*, *:before, *:after { box-sizing: inherit; }

@font-face {
font-family: 'Proxima Nova Light';
src: url('fonts/ProximaNova/proxima-nova.otf') format('otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Open Sans Regular';
src: url('fonts/open-sans-regular.ttf') format('ttf');
font-weight: normal;
font-style: normal;
}  

body {
    background-image: url(img/bg.png);
    background-size:cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    margin-top: 35px;
}

.container__img {
    display: flex;
    justify-content:flex-end;
    padding-right: 220px;
    width: 50%;
}

.container__img + img {
    width: 234px;
    height: 64px;    
}

.form {
    display: flex;
    width: 50%;
}

.form__button{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: var(--color-primary);
    background-color: #3691ea;
}

.form__button:hover {
    box-shadow: 0 0 4px 2px #3691ea;
}

.form__input {
    width: 200px;
    height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    border-radius: 5px;
}

.form__text {
    margin: 10px auto;
    padding: 0;
}

.form__link {
    color: var(--color-primary);
}

h1 {
    font-size: 36px;
    width: 860px;
    margin: 0;
    font-weight: normal;
    text-align: justify;
    color: var(--color-primary);
}

h1:after {
    content: "";
    display: inline-block;
    width: 100%;
}

h1 span {
    text-transform: uppercase;
    font-weight: bold;
    color: #83a6e4;
}

.log_in_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    color: var(--color-items);    
}

.log_in_container__boxes {
    display: flex;
    justify-content: center;
}

.log_in_container__boxes--arrow {
    width: 35px;
    height: 35px;
    border: 2px solid var(--color-items);
    border-radius: 5px;
    background-color: transparent;
    color: var(--color-items);
    font-size: 25px;
    margin-top: 35px;
}
.log_in_container__boxes--password:hover,
.log_in_container__boxes--arrow:hover,
.dot:hover {
    box-shadow: 0 0 4px 2px var(--color-items);
}

.log_in_container__boxes--text {
    width: 380px;
    text-align:center;
    font-size: 12px;
    font-family: 'Open Sans Regular';
    font-weight: bold;
}

.log_in_container__boxes--text a {
    color: var(--color-items);
}

.log_in_container__boxes--button {
    height: 40px;
    width: 120px;
    color: var(--color-primary);
    border-radius: 5px;
    border: none;
    background-color: #45bf4a;
    margin-top: 35px;
}

.log_in_container__boxes--button:hover {
    box-shadow: 0 0 4px 2px #45bf4a;
}    

.log_in_container__boxes--password {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 90px;
    background-color: var(--color-items);
    color: var(--color-primary);
    border-radius: 5px;
    margin-left: 10px;
}

.log_in_container__boxes--password > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 55px;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-items);
}

.log_in_container__boxes div {
     margin: 0 20px;
     text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  